.logoThumb {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .logoThumb {
    display: none;
  }
}

.homeLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.mainThumb {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 18px;
}

.navLink {
  align-self: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.contactsLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
